DATABASE_URL=postgresql://postgres:postgres@db:5432/smartbite
OPENAI_API_KEY="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"
PORT=4000
